<%= form_for @event do |f| %>

  <% if @event.errors.any? %>
    <div id="error_explanation">
      <ul>
        <h2>errors:</h2>
        <% @event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end  %>

  <span class="newactivity">
  <%= f.label :"title" %>
  <%= f.text_field :title %>
  </span>

  <span class="newactivity">
  <%= f.label :"start date" %>
  <%= f.text_field :start_date %>
  </span>

  <span class="newactivity">
  <%= f.label :"end date" %>
  <%= f.text_field :end_date %>
  </span>

  <span class="newactivity">
  <%= f.label :city %>
  <%= f.text_field :city %>
  </span>

  <span class="newactivity">
  <%= f.label :state %>
  <%= f.text_field :state %>
  </span>
  
  <span class="newactivity">
  <%= f.label :"cost" %>
  <%= f.text_field :cost %>
  </span>

  <span class="newactivity">
  <%= f.label :"notes" %>
  <%= f.text_field :notes %>
  </span>

  <span class="newactivity">
  <%= f.submit %>
  </span>

<% end %>