<h2>Events <a href="/events/new">(+)</a></h2>

<ul>
  <% @events.each do |event| %>
    <li>
      <a href="/events/<%= event.id %>">
        <%= event.title %>
        <%= event.start_date %>
        <%= event.end_date %>
        <%= event.city %>
        <%= event.state %>
        <%= event.cost %>
        <%= event.notes %>

      </a>
    </li>
  <% end %>
</ul>